<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">
      <i class="fa fa-television" aria-hidden="true"></i> Batch Process Monitoring
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbar-menu"
      aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ui-sref-active="active" data-toggle="collapse"
          data-target="#navbar-menu" aria-expanded="false">
          <a class="nav-link" ui-sref="user">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>&nbsp;Cluster
          </a>
        </li>
        <li class="nav-item" ui-sref-active="active" data-toggle="collapse"
          data-target="#navbar-menu" aria-expanded="false">
          <a class="nav-link" ui-sref="batchjobs">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp;BatchJobs
          </a>
        </li>
        <li class="nav-item" ui-sref-active="active" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
          <a class="nav-link" ui-sref="user">
            <i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Nodes
          </a>
        </li>
        <li class="nav-item active" ui-sref-active="active" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
          <a class="nav-link" ui-sref="user">
            <i class="fa fa-bell" aria-hidden="true"></i>&nbsp;
          </a>
        </li>
        <li class="nav-item active" ui-sref-active="active" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
          <a class="nav-link" ui-sref="user">
            <i class="fa fa-gear" aria-hidden="true"></i>&nbsp;
          </a>
        </li>
        <li class="nav-item active" ui-sref-active="active" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
          <a class="nav-link" ui-sref="user">
            <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;
          </a>
        </li>
        <li class="nav-item active" ui-sref-active="active" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
          <a class="nav-link" ui-sref="user">
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Guest
          </a>
        </li>
      </ul>
    </div>
  </nav>
  